@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding: 20px 0;
}

.figure-row {
    height: 30px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 0;
}

.price {
    font-size: 12px;
    line-height: 30px;
}

.plywood-canvas {
    margin: 10px;
    border: 1px solid #ddd;
}